@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
